@import "utils/vars";
@import "utils/mixins.scss";
@import "utils/fonts.scss";

.slider {
	width: 266px;
	height: 6px;
	background: $color-white;
	border: 1px solid $color-dark-shade-25;
	box-sizing: border-box;
	border-radius: 3px;
	position: relative;
	z-index: 1;
}

.slider_touch_left,
.slider_touch_right {
	position: absolute;
	width: 12px;
	height: 12px;
	background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
	border: 2px solid #ffffff;
	border-radius: 10px;
}


.slider_line {
	position: absolute;
	height: 6px;
	background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
	border-radius: 3px;
	z-index: 2;
}
