@import "utils/vars";
@import "utils/mixins.scss";
@import "utils/fonts.scss";

// Example ts-slider

.slider-container {
	width: 60%;
	margin: 100px auto;
	position: relative;
}

.slider-container .track {
	width: 100%;
	height: 6px;
	background: #ccc;
}

.slider-container .track .progress {
	width: 100%;
	height: 100%;
	background: tomato;
	transform-origin: 0;
}

.slider-container .thumb {
	width: 20px;
	height: 20px;
	background: tomato;
	position: absolute;
	top: -7px;
	border-radius: 50px;
	transform: translate(-50%);
}