<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Cards
		script(src="../js/common.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(type="text/javascript")
	body
		.wrapper__cards
			.content
				.inputs
					.inputs__logo
					.inputs__row
						.inputs__column_first
							.inputs__card_pick-up-a-number-items
								.inputs__card_pick-up-a-number
									.inputs__card_pick-up-a-number-heading
										h1 Найдём номера под <br>ваши пожелания
									.inputs__card_pick-up-a-number-duration-of-stay
										.inputs__card_pick-up-a-number-arrival
											.inputs__card_pick-up-a-number-arrival-heading 
												h3 Прибытие
											.inputs__card_pick-up-a-number-arrival-items
												.inputs__card_pick-up-a-number-arrival
													label(for="start_arrival")
													input(class="datepicker-arrival datepicker-pick-a-number-card-arrival" readonly id="start_arrival" placeholder="ДД.ММ.ГГГГ")
												.datepicker-here(data-range="true" data-multiple-dates-separator=" - " class="calendar")
										.inputs__card_pick-up-a-number-exit
											.inputs__card_pick-up-a-number-exit-heading
												h3 Выезд
											.inputs__card_pick-up-a-number-exit-items
												label(for="end_exit")
												input(id='end_exit' readonly class="datepicker-exit datepicker-pick-a-number-card-exit" placeholder="ДД.ММ.ГГГГ")
									.inputs__card_pick-up-a-number-guests
										.inputs__card_pick-up-a-number-guests-heading
											h3 Гости
										.inputs__column_dropdown-guests-items 
											.dropdown__guests-selected 
												.dropdown__guests-selected-text Сколько гостей
											.dropdown-guests-content
												.adults-element-dropdown
													.adults-element-dropdown__text
														span(class="dropdown-text adults-span") Взрослые
													.adults-element-dropdown__items
														.adults-element-dropdown__items-minus
															input(type="button", class="minus minus-adults", value="-")
														.adults-element-dropdown__items-count-number
															span(class="dropdown-text inc-adults") 0
														.adults-element-dropdown__items-plus
															input(type="button", class="plus plus-adults", value="+")
												.children-element-dropdown
													.children-element-dropdown__text
														span(class="dropdown-text children-span") Дети
													.children-element-dropdown__items
														.children-element-dropdown___items-minus
															input(type="button", class="minus minus-children", value="-")
														.children-element-dropdown___items-count-number
															span(class="dropdown-text inc-children") 0
														.children-element-dropdown___items-plus
															input(type="button", class="plus plus-children", value="+")
												.babies-element-dropdown
													.babies-element-dropdown__text
														span(class="dropdown-text babies-span") Младенцы
													.babies-element-dropdown__items
														.babies-element-dropdown___items-minus
															input(type="button", class="minus minus-babies", value="-")
														.babies-element-dropdown___items-count-number
															span(class="dropdown-text inc-babies") 0
														.babies-element-dropdown___items-plus
															input(type="button", class="plus plus-babies", value="+")
												.dropdown-guests-content__buttons
													.dropdown-guests-content__buttons-clear
														input(type="button", value="очистить", class="btn btn-text button3 click-clear")
													.dropdown-guests-content__buttons-apply
														input(type="button", value="применить", class="btn btn-text button3 click-apply")
									.inputs__card_pick-up-a-number-button
										.inputs__range-slider-all-buttons-item-pay-button Подобрать номер
											a(href="#" class="button download") 
							.inputs__card_account-registration-items
								.inputs__card_account-registration
									.inputs__card_account-registration-heading
										h1 Регистрация аккаунта
									.inputs__card_account-registration-name
										form(action="#")
											input(type="text", placeholder="Имя", id="name-for-registration")
									.inputs__card_account-registration-surname
										form(action="#")
											input(type="text", placeholder="Фамилия", id="surname-for-registration")
									.inputs__card_account-registration-checkbox-radio
										.inputs__checbox-radio-items
											label(class="radio__label", for="radio_man", id="radio_man_id") Мужчина
												input(class="radio__input", checked type="radio", name="sex", value="man", id="radio_man") 
												span(class="radiomark")
											label(class="radio__label", for="radio_woman", id="radio_woman_id") Женщина
												input(class="radio__input", type="radio", name="sex", value="woman", id="radio_woman") 
												span(class="radiomark")
									.inputs__card_account-registration-birthday
										.inputs__card_account-registration-birthday-heading
											h3 Дата рождения
										.inputs__card_account-registration-birthday-item
											.inputs__masked-text-field-field
												form(action="#")
													input(type="text", placeholder="ДД.ММ.ГГГГ", id="birthday")
									.inputs__card_account-registration-service-entrance
										.inputs__card_account-registration-service-entrance-heading
											h3 Данные для входа в сервис
										.inputs__card_account-registration-service-entrance-email
											form(action="#")
												input(type="text", placeholder="Email", name="email")
										.inputs__card_account-registration-service-entrance-password
											form(action="#")
												input(type="password", placeholder="Пароль", name="password" autocomplete='new-password')
									.inputs__card_account-registration-special-offers
										label(class="switch")
											input(type="checkbox")
											span(class="slider")
										span(class="special-offers") Получать спецпредложения
									.inputs__card_account-registration-pay-button
										.inputs__range-slider-all-buttons-item-pay-button Перейти к оплате
											a(href="#" class="button download")
									.inputs__card_account-registration-account-availability
										.inputs__card_account-registration-account-availability-text Уже есть аккаунт на Toxin
										.inputs__card_account-registration-account-availability-button-to-come-in
											form(action="#", method="get")
												input(type="button", value="Войти", class="btn btn-text button2")
						.inputs__column_second
							.inputs__card_reservation-appartment-items
								.inputs__card_reservation-appartment
									.inputs__card_reservation-appartment-heading
										.inputs__card_reservation-appartment-number
											span(class="sign-number") &#8470 
											h1(class="number-of-appartment") 888
												span(class="text-for-luxury") люкс 
										.inputs__card_reservation-appartment-price-for-one-day 
											.inputs__card-reservation-appartment-price 9 900₽
												input(type="text" id="price-for-room" class="cost-for-room", value="9900")
											.inputs__card-reservation-appartment-day в сутки
									.inputs__card_pick-up-a-number-duration-of-stay
										.inputs__card_pick-up-a-number-arrival
											.inputs__card_pick-up-a-number-arrival-heading 
												h3 Прибытие
											.inputs__card_pick-up-a-number-arrival-items
												.inputs__card_pick-up-a-number-arrival
													label(for="start_coming")
													input(class="datepicker-arrival datepicker-reservation-card-arrival" readonly id="start_coming" placeholder="ДД.ММ.ГГГГ")
												.datepicker-here(data-range="true" data-multiple-dates-separator=" - " class="calendar-for-reservation")
										.inputs__card_pick-up-a-number-exit
											.inputs__card_pick-up-a-number-exit-heading
												h3 Выезд
											.inputs__card_pick-up-a-number-exit-items
												label(for="start_departure")
												input(id='end_departure' readonly class="datepicker-exit datepicker-reservation-card-exit" placeholder="ДД.ММ.ГГГГ")
									.inputs__card_pick-up-a-number-guests
									.inputs__card_reservation-appartment-a-number-of-guests
										.inputs__card_reservation-appartment-a-number-of-guests-heading
											h3 Гости
									.inputs__card_reservation-appartment-invoice
										.inputs__card_reservation-appartment-invoice-price-per-day
											.inputs__card_reservation-appartment-invoice-price-per-day-description
												input(type="text" readonly id="rubles-for-days" class="rubles-for-days")
												.inputs__card_reservation-appartment-invoice-price-per-day-multiple ×
												input(type="text" readonly class="number-of-days" id="number-of-days" value="0 суток")
											.inputs__card_reservation-appartment-invoice-price-per-day-cost
												input(type="text" readonly class="day-cost" id="day-cost")
										.inputs__card_reservation-appartment-invoice-service-charge
											.inputs__card_reservation-appartment-invoice-service-charge-description Сбор за услуги: скидка 2 179&#8381 
											.inputs__card_reservation-appartment-invoice-service-charge-cost 0&#8381
										.inputs__card_reservation-appartment-invoice-additional-services
											.inputs__card_reservation-appartment-invoice-additional-services-description Сбор за дополнительные <br> услуги
											.inputs__card_reservation-appartment-invoice-additional-services-cost 300&#8381
									.inputs__card_reservation-appartment-total
										.inputs__card_reservation-appartment-total-description Итого
										.inputs__card_reservation-appartment-total-border
										.inputs__card_reservation-appartment-total-cost 
											input(type="text", readonly id="total_cost" class="total-cost")
									.inputs__card_reservation-appartment-button-for-booking
										.inputs__range-slider-all-buttons-item-pay-button Забронировать
											a(href="#" class="button download")
							.inputs__card-to-come-in-items
								.inputs__card-to-come-in
									.inputs__card-to-come-in-heading
										h1 Войти
									.inputs__card-to-come-in-data
										.inputs__card-to-come-in-data-email
											form(action="#", method="get")
												input(type="text", placeholder="Email", name="email-to-enter")
										.inputs__card-to-come-in-data-password
											form(action="#", method="get")
												input(type="password", placeholder="Пароль", name="password-to-enter" autocomplete='new-password')
									.inputs__card-to-come-in-button
										.inputs__range-slider-all-buttons-item-pay-button Войти
											a(href="#" class="button download")
									.inputs__card-to-come-in-create-account
										.inputs__card-to-come-in-create-account-question Нет аккаунта на Toxin?
										.inputs__card-to-come-in-create-account-button
											form(action="#", method="get")
												input(type="button", value="Создать", class="btn btn-text button2")
						.inputs__column_third
							.inputs__calendar
								.datepicker-here(data-range="true", data-multiple-dates-separator=" - " id="datepicker_main")
									.datepicker-content__buttons
										.datepicker__buttons-apply
											input(type="button", value="применить", class="btn btn-text button3 click-apply-datepicker" id="datedropdown_apply_main")
							.inputs__carousel
								.inputs__carousel-pictures
									img(src="/assets/img/image-luxury.png")
									img(src="/assets/img/image-840.png")
									img(src="/assets/img/image-luxury.png")
									img(src="/assets/img/image-840.png")
								.inputs__carousel-items
									.inputs__carousel-appartment-description
										.inputs__carousel-appartment-number
											span(class="sign-number" id="sign-number-carousel") &#8470 
												h1(class="number-of-appartment" id="number-of-appartment-carousel") 888
													span(class="text-for-luxury" id="luxury-carousel") люкс 
										.inputs__carousel-appartment-price
											.inputs__card-reservation-appartment-price(class="carousel-price-one-day") 9 900₽
												input(type="text" id="price-for-room-carousel" class="cost-for-room", value="9900")
											.inputs__card-reservation-appartment-day(class="carousel-day-text") в сутки
									.inputs__carousel-border
									.inputs__carousel-review
										.inputs__carousel-review-rating
											.inputs__checkbox-rate-items-1
											form(action="#", method="get")
												fieldset
													span(class="star-cb-group" id="star-cb-group-carousel")
														input(type="radio", id="rating-5", name="rating", value="5" checked="checked")
														label(for="rating-5") 5
														input(type="radio", id="rating-4", name="rating", value="4")
														label(for="rating-4") 4
														input(type="radio", id="rating-3", name="rating", value="3")
														label(for="rating-3") 3
														input(type="radio", id="rating-2", name="rating", value="2")
														label(for="rating-2") 2
														input(type="radio", id="rating-1", name="rating", value="1")
														label(for="rating-1") 1
														input(type="radio", id="rating-0", name="rating", value="0", class="star-cb-clear")
														label(for="rating-0") 0
										.inputs__carousel-review-recalls
											.inputs__carousel-number 145
											.inputs__carousel-text-for-review Отзывов
							.inputs__carousel_bottom
								.inputs__carousel-pictures
									img(src="/assets/img/image-840.png")
									img(src="/assets/img/image-luxury.png")
									img(src="/assets/img/image-840.png")
									img(src="/assets/img/image-luxury.png")
								.inputs__carousel-items
									.inputs__carousel-appartment-description
										span(class="sign-number" id="sign-number-carousel-bottom") &#8470 
												h1(class="number-of-appartment" id="number-of-appartment-carousel-bottom") 840
										.inputs__carousel-appartment-price
											.inputs__card-reservation-appartment-price(class="carousel-price-one-day") 9 900₽
												input(type="text" id="price-for-room-carousel-bottom" class="cost-for-room", value="9900")
											.inputs__card-reservation-appartment-day(class="carousel-day-text") в сутки
									.inputs__carousel-border
									.inputs__carousel-review
										.inputs__carousel-review-rating
											.inputs__checkbox-rate-items-1
											form(action="#", method="get")
												fieldset
													span(class="star-cb-group" id="star-cb-group-carousel-bottom")
														input(type="radio", id="rating-55", name="rating", value="5" )
														label(for="rating-55") 5
														input(type="radio", id="rating-44", name="rating", value="4" checked="checked")
														label(for="rating-44") 4
														input(type="radio", id="rating-33", name="rating", value="3")
														label(for="rating-33") 3
														input(type="radio", id="rating-22", name="rating", value="2")
														label(for="rating-22") 2
														input(type="radio", id="rating-11", name="rating", value="1")
														label(for="rating-11") 1
														input(type="radio", id="rating-00", name="rating", value="0", class="star-cb-clear")
														label(for="rating-00") 0
										.inputs__carousel-review-recalls
											.inputs__carousel-number 65
											.inputs__carousel-text-for-review Отзывов




