<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Colors $ Type
   body
      .content
         img.logo(src="/assets/img/group.svg", alt="logo")
         .content-block
            .content-row
               .colors-content
                  .color-item
                     .color-item__row
                        .color-item__rectangle-dark-shade-100
                        .color-item__description
                           .color-item__title Dark Shade 100%
                           .color-item__subtitle #1F2041
                  .color-item
                     .color-item__row
                        .color-item__rectangle-dark-shade-75
                        .color-item__description
                           .color-item__title Dark Shade 75%
                           .color-item__subtitle #1F2041
                  .color-item
                     .color-item__row
                        .color-item__rectangle-dark-shade-50
                        .color-item__description
                           .color-item__title Dark Shade 50%
                           .color-item__subtitle #1F2041
                  .color-item
                     .color-item__row
                        .color-item__rectangle-dark-shade-25
                        .color-item__description
                           .color-item__title Dark Shade 25%
                           .color-item__subtitle #1F2041
                  .color-item
                     .color-item__row
                        .color-item__rectangle-dark-shade-5
                        .color-item__description
                           .color-item__title Dark Shade 5%
                           .color-item__subtitle #1F2041

                  .color-item
                     .color-item__row
                        .color-item__rectangle-purple
                        .color-item__description
                           .color-item__title Purple
                           .color-item__subtitle #BC9CFF

                  .color-item
                     .color-item__row
                        .color-item__rectangle-green
                        .color-item__description
                           .color-item__title Green
                           .color-item__subtitle #6FCF97
               table.fonts-description
                  tr
                     td.tag-h1 H1
                     td 
                        h1 This one is the sub-section or <br>widget title
                  tr
                     td.tag-h2 H2
                     td 
                        h2 Next one is the item title inside <br>widgets
                  tr
                     td.tag-h3 H3
                     td 
                        h3 This is a label or CTA text
                  tr
                     td.tag-body Body
                     td This is the body text which is used for most <br>of the design, like paragraphs, lists, etc.
            