<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body
		h1 BLA-BLA
		a(href="colors_&_type.html") Colors & Type
		a(href="form_elements.html") Form Elements
		a(href="cards.html") Cards
		a(href="headers_&_footers.html") Headers & Footers