<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body
		.slider-container
		.ran(id="slider1")
		.ran(id="slider2")
		.ran(id="slider3")
		.example(id="EXSlider")
			


