$color-dark-shade-100: rgb(31, 32, 65);
$color-dark-shade-75: rgba(31, 32, 65, 0.75);
$color-dark-shade-50: rgba(31, 32, 65, 0.5);
$color-dark-shade-25: rgba(31, 32, 65, 0.25);
$color-dark-shade-10: rgba(31, 32, 65, 0.1);
$color-dark-shade-5: rgba(31, 32, 65, 0.05);
$color-purple: rgb(188, 156, 255);
$color-light-purple: rgba(188, 156, 255, 0.5);
$color-light-gray: rgb(244, 244, 246);
$color-green: rgb(111, 207, 151);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-blue: rgb(139, 164, 249);
$color-light-blue: rgba(139, 164, 249, 0.5);
$slightly-desaturated-cyan-lime-green: rgb(111, 207, 151);
$soft-cyan: (rgb(102, 210, 234));
$color-black-with-a-twelve: rgba(0, 0, 0, 0.12);
$color-black-with-a-two: rgba(0, 0, 0, 0.2);

$quicksand: Quicksand;
$quicksand-bold: Quicksand-Bold;
$montserrat: Montserrat-Regular;
$montserrat-bold: Montserrat-Bold;
$opensans: OpenSans-Regular;
$opensans-bold: OpenSans-Bold;
